@model IEnumerable<ClothesShop.Models.ProductModel>

@{
    ViewBag.Title = "Products";
}

<div id="adminMenu">
	@Html.Partial("AdminMenu")
</div>

<h2>View Products</h2>

@using (Html.BeginForm("Products", "Admin", FormMethod.Get))
{
    IEnumerable<SelectListItem> categories = ((IEnumerable<ClothesShop.Models.CategoryModel>)ViewBag.Categories).Select(x => new SelectListItem() { Text = x.Name, Value = x.ID.ToString() });
    IEnumerable<SelectListItem> subcategories = ((IEnumerable<ClothesShop.Models.SubcategoryModel>)ViewBag.SubCategories).Select(x => new SelectListItem() { Text = x.SubcategoryName, Value = x.ID.ToString() }); ; 
    
    @Html.DropDownList("id", categories, "Category")
    @Html.DropDownList("subid", subcategories, "Category")    
    
    <input type="submit" value="Filter" id="filterButton" />
}

<table>
    <tr> 
        <th></th>
        <th>
            Number
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th> 
        <th>
            Special
        </th> 
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr> 
    <td>
            @Html.ActionLink(" ", "RemoveProduct", new { id = item.ID }, new { id = "removeBtn", title = "Remove", onclick = "return confirm('Are you sure want to delete this?');" })
            @Html.ActionLink(" ", "ViewProduct", "Product", new { id = item.ID }, new { id = "detailsBtn", title="Details"}) 
            @Html.ActionLink(" ", "EditProduct", new { id = item.ID }, new { id = "editBtn", title = "Edit" }) 
    </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Special)
        </td> 
        <td>
            @Html.ActionLink("Pictures", "ProductImages", new { id = item.ID }) |
            @Html.ActionLink("Sizes", "ProductQuantity", new { id = item.ID })
        </td>
    </tr>
}

</table>


<p>
    @Html.ActionLink(" ", "AddProduct", null, new { id = "addBtn" })
</p>
