@model IEnumerable<ClothesShop.Models.ProductModel>

@{
    ViewBag.Title = "ViewPage1";
}

<div id="loginContainer">
	@Html.Partial("AdminMenu")
</div>

<h2>ViewPage1</h2>

@using (Html.BeginForm("Products", "Admin", FormMethod.Get))
{
    IEnumerable<SelectListItem> categories = ((IEnumerable<ClothesShop.Models.CategoryModel>)ViewBag.Categories).Select(x => new SelectListItem() { Text = x.Name, Value = x.ID.ToString() });
    IEnumerable<SelectListItem> subcategories = ((IEnumerable<ClothesShop.Models.SubcategoryModel>)ViewBag.SubCategories).Select(x => new SelectListItem() { Text = x.SubcategoryName, Value = x.ID.ToString() }); ; 
    
    @Html.DropDownList("id", categories, "Category")
    @Html.DropDownList("subid", subcategories, "Category")    
    
    <input type="submit" value="Filter" />
}

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table>
    <tr>
        <th>
            SubCategoryID
        </th>
        <th>
            Number
        </th>
        <th>
            Name
        </th>
        <th>
            NameEN
        </th>
        <th>
            Description
        </th>
        <th>
            DescriptionEN
        </th>
        <th>
            Price
        </th>
        <th>
            Weight
        </th>
        <th>
            Special
        </th>
        <th>
            QuantityType
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Special)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { id = item.ID }) |
            @Html.ActionLink("Details", "ViewProduct", "Product", new { id = item.ID }, null) |
            @Html.ActionLink("Pictures", "ProductImages", new { id = item.ID }) |
            @Html.ActionLink("Sizes", "ProductQuantity", new { id = item.ID }) |
            @Html.ActionLink("Delete", "RemoveProduct", new { id = item.ID })
        </td>
    </tr>
}

</table>
