@model IEnumerable<ClothesShop.Models.QuantityModel>

@{
    ViewBag.Title = "Product Quantity";
}

<div id="adminMenu">
	@Html.Partial("AdminMenu")
</div>

<h2>Quantity for Product @ViewBag.ProductNo</h2>

<table>
    <tr>
        <th> 
        </th>
        <th>
            Size
        </th>
        <th>
            Quantity
        </th> 
    </tr>

@foreach (var item in Model) {
    <tr> 
    
        <td> 
            @Html.ActionLink(" ", "DeleteQuantity", new { id = item.ID }, new { id = "removeBtn", onclick="return confirm('Are you sure want to delete this?');"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
    </tr>
}

</table>

@using(Html.BeginForm("AddQuantity", "Admin", FormMethod.Post))
{
    <b>New entry: </b> <br />
    <input type="hidden" name="id" value="@ViewBag.ProductId" />   
    <span>Size</span> 
    <input id="sizePicker" type="number" name="size" value="1" /> 
    <span>Quantity</span> 
    <input id="qPicker" type="number" name="quantity" value="1"/><br />
    
    <input type="submit" value="Add" />
    
    
            <script>
                $(document).ready(function () {
                    $("#sizePicker").kendoNumericTextBox({min: 1});
                    $("#qPicker").kendoNumericTextBox({min: 1});
                });
            </script>
}

