@model IEnumerable<ClothesShop.Models.PictureModel>

@{
    ViewBag.Title = "ProductImages";
}

<div id="adminMenu">
	@Html.Partial("AdminMenu")
</div>

<h2>Images for product @ViewBag.ProductNo</h2>
 
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            <img src="/Data/Thumbnail/@item.ID?size=150" />
        </td>
        <td> 
            @Html.ActionLink(" ", "RemoveImage", new { id = item.ID }, new { id = "removeBtn", onclick="return confirm('Are you sure want to delete this?');" })
        </td>
    </tr>
}
</table>

@using(Html.BeginForm("AddImage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>New file: </span>
    <input type="hidden" name="id" value="@ViewBag.ProductId" />
    <input type="file" name="ImageFile" />
    <input type="submit" value="Upload" id="filterButton"/>
}

