@model IEnumerable<ClothesShop.Models.SubcategoryModel>

@{
    ViewBag.Title = "SubCategories";
}

<div id="adminMenu">
	@Html.Partial("AdminMenu")
</div>

<h2>SubCategories</h2>
 
<table>
    <tr> 
        <th></th>
        <th>
            Category
        </th>
        <th>
            Subcategory
        </th> 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(" ", "RemoveSubCategory", new { id = item.ID }, 
            new { onclick = "return confirm(\"Are you sure want to delete this?\")", id="removeBtn", title="Remove" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubcategoryName)
        </td>
    </tr>
}

</table>
@Html.ActionLink(" ", "AddSubCategory", null, new { id = "addBtn" })