@model ClothesShop.Models.ProductModel

@{
    ViewBag.Title = "Product Details";
}

	<link rel="stylesheet" href="/Lightbox/css/screen.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/Lightbox/css/lightbox.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="/Lightbox/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="/Lightbox/js/jquery.smooth-scroll.min.js"></script>
    <script src="/Lightbox/js/lightbox.js"></script>

<h2>Product Details</h2>

<div id="productDetails">

    <span style="float:right;">ИМА В НАЛИЧНОСТ</span>

    <h3>@Html.DisplayFor(model => model.Name)</h3>

    <div id="productDescription">
        @Html.DisplayFor(model => model.Description)
    </div>

    <br />

    <span><b>Категория:</b> @Html.DisplayFor(model => model.CategoryName)</span> <br />
    <span><b>Каталожен номер:</b> @Html.DisplayFor(model => model.Number)</span> <br />
    <span><b>Тегло:</b> @Html.DisplayFor(model => model.Weight) </span> <br />
    <span><b>Цена:</b> @Html.DisplayFor(model => model.Price) </span>

    @if (Model.Special)
    {
        <div id="specialOffer">СПЕЦИАЛНА ОФЕРТА</div>
    }
    
    @Html.ActionLink(" ", "AddToCart", "Basket", new { id = Model.ID }, new { id = "cartBtn" })

    <div style="clear:both;padding-top:15px;">

        <div class="imageRow">
            <div class="set">

                @for (int i = 0; i < Model.Pictures.Count; i++)
                {
                    string cl = i % 4 == 0 ? " first" : i % 4 == 3 ? " last" : "";
                    cl = "single" + cl;
                    <div class="@Html.Raw(cl)">
                        <a href="/ProductPictures/@Model.Pictures[i].FileName" rel="lightbox[plants]" title="Click on the right side of the image to move forward.">
                            <img src="/Data/Thumbnail/@Model.Pictures[i].ID?size=150" alt="Plants: image 1 0f 4 thumb" />
                        </a>
                    </div>
                }
@*
                <div class="single first">
                    <a href="/Lightbox/images/examples/image-3.jpg" rel="lightbox[plants]" title="Click on the right side of the image to move forward.">
                        <img src="/Lightbox/images/examples/thumb-3.jpg" alt="Plants: image 1 0f 4 thumb" />
                    </a>
                </div>
                <div class="single">
                    <a href="/Lightbox/images/examples/image-4.jpg" rel="lightbox[plants]" title="Alternately you can press the right arrow key." >
                        <img src="/Lightbox/images/examples/thumb-4.jpg" alt="Plants: image 2 0f 4 thumb" />
                    </a>
                </div>
                <div class="single">
                    <a href="/Lightbox/images/examples/image-5.jpg" rel="lightbox[plants]" title="The script preloads the next image in the set as you're viewing.">
                        <img src="/Lightbox/images/examples/thumb-5.jpg" alt="Plants: image 3 0f 4 thumb" />
                    </a>
                </div>
                <div class="single last">
                    <a href="/Lightbox/images/examples/image-6.jpg" rel="lightbox[plants]" title="Click the X or anywhere outside the image to close">
                        <img src="/Lightbox/images/examples/thumb-6.jpg" alt="Plants: image 4 0f 4 thumb" />
                    </a>
                </div>

                <div class="single first">
                    <a href="/Lightbox/images/examples/image-3.jpg" rel="lightbox[plants]" title="Click on the right side of the image to move forward.">
                        <img src="/Lightbox/images/examples/thumb-3.jpg" alt="Plants: image 1 0f 4 thumb" />
                    </a>
                </div>
                <div class="single">
                    <a href="/Lightbox/images/examples/image-4.jpg" rel="lightbox[plants]" title="Alternately you can press the right arrow key." >
                        <img src="/Lightbox/images/examples/thumb-4.jpg" alt="Plants: image 2 0f 4 thumb" />
                    </a>
                </div>
                <div class="single">
                    <a href="/Lightbox/images/examples/image-5.jpg" rel="lightbox[plants]" title="The script preloads the next image in the set as you're viewing.">
                        <img src="/Lightbox/images/examples/thumb-5.jpg" alt="Plants: image 3 0f 4 thumb" />
                    </a>
                </div>
                <div class="single last">
                    <a href="/Lightbox/images/examples/image-6.jpg" rel="lightbox[plants]" title="Click the X or anywhere outside the image to close">
                        <img src="/Lightbox/images/examples/thumb-6.jpg" alt="Plants: image 4 0f 4 thumb" />
                    </a>
                </div>*@

            </div>
        </div>

    </div>

</div>