@if(Object.Equals(Session["IsAuthenticated"], true)) {
    <text>Welcome <strong>@Session["Username"]</strong>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text> <br/>
     
    if(Object.Equals(Session["IsAdmin"], true)) 
    {      
        <text>  
        @Html.ActionLink("ADMIN", "Index", "Admin") | 
        </text>
    }
    @Html.ActionLink("BASKET", "Index", "Basket")
}
else
{
	<span>
        @Html.ActionLink("SIGN IN", "LogOn", "Account") | 
        @Html.ActionLink("SIGN UP", "Register", "Account")
    </span>
}
